.header .container .left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .container .left .logo{
    margin-right:45px;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 35px 0 ;
    display:flex;
    flex-wrap: wrap;
    background-color: #ffffff;    
}
.header .home a{
    text-decoration: none;
    color: var(--primary);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.9s;
}
.header ul{
    padding-top: 9px;
    display: flex;
    flex-wrap: wrap;
    gap :35px;
}
.header input{
    width: 266px;
    height: 40px;
    flex-shrink: 0;
    border:0;
}
.header .service a{
    text-decoration: none;
    color:#0D0E43;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.9s;
}
.header form {
    border: 2px solid #E7E6EF;
    display: flex;
    flex-wrap: wrap;
}
.header .search-form button{
    border:0;
    padding:8px 13px;
    background-color: var(--primary);
    img{
    display: flex;
    flex-wrap: wrap;
    width: 24px;
    height: 24px;
    padding: 1.979px 2.009px 2.024px 1.979px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    }
}
.header{
    position: sticky;
    width: 100%;
}
.header .service a:hover{
    color: aqua;
    font-size: 20px;
}
.header .home a:hover{
    color: purple;
    font-size: 20px;
}
.menu{
    display: none;
}
/*responsive 1*/
@media screen and (min-width: 0) and (max-width: 480px){
    .list,
    .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .footer .footer-left,.footer .footer-right{
        width: 100%;

    }
    .footer .footer-left .sign-form{
        input{
            width: 60%;
        }
        button{
            width: 40%;
            padding: 6px 40px;
        }
    }
}
@media screen and (min-width:481px) and (max-width: 768px){
    .list,
    .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .footer .footer-left,.footer .footer-right{
        width: 100%;
    }
}
@media screen and (min-width:769px) and (max-width: 1050px){
    .list,
    .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .footer .footer-left,.footer .footer-right{
        width: 100%;
    }

}
/*responsive 1*/
/*responsive 2*/
@media screen and (min-width: 0) and (max-width: 370px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:4.5px 5px;
    background-color: var(--primary);
    span{
        color:white;
    }
    span{
        font-size: 5px !important;
    }
    display: flex;

    
}
.bgimg .content {
    gap: 1px !important;
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 6vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
}
@media screen and (min-width: 371px) and (max-width: 569px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:4.5px 5px;
    background-color: var(--primary);
    span{
        color:white;
    }
    span{
        font-size: 5px !important;
    }
    display: flex;

    
}
.bgimg .content {
    gap: 1px !important;
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 9vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
}
@media screen and (min-width:570px) and (max-width: 768px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:5px 14px;
    background-color: var(--primary);
    span{
        color:white;
    }
    span{
        font-size: 10px;
    }
}
.bgimg .content {
    gap: 4px !important;
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 13vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

}
@media screen and (min-width:769px) and (max-width: 1050px){

    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:9px 18px;
    background-color: var(--primary);
    span{
        color:white;
    }
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 17vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

}
@media screen and (min-width:1051px) and (max-width: 1600px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:10px 20px;
    background-color: var(--primary);
    span{
        color:white;
    }
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
}
/*responsive 2*/
/*start products*/
    .products .container{
        display: flex; 
        flex-direction: column;       
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .products .row{
        gap: 30px;
    }
    .products h2{
    color: #1A0B5B;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    .products .item-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    .products .item-info h3{
        color: var(--primary);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    .products .item-info .code{
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .products .item-info .price{
        color:#151875;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .products .item-info .buttons{
        display: flex;
        gap: 3px;
    }
    .products .item-info .buttons .btn1 button {
            padding: 1px 5px;
            background-color: #05E6B7;
    }
    .products .item-info .buttons .btn2 button{
            padding: 1px 5px;
            background-color: #F701A8;
            
    }
    .products .item-info .buttons .btn3 button{
            padding: 1px 5px;
            background-color: #00009D;
            
    }
/*end products*/
/*start bgimg*/
.bgimg{
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bgimg .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.bgimg p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg button{
    border:0;
    padding:13px 40px;
    background-color: var(--primary);
    span{
        color:white;
    }
}
/*end bgimg*/
/* start footer */
.footer{
    padding: 50px 0;
}
.footer form {
    border: 2px solid #E7E6EF;
    display: flex;
    flex-wrap: wrap;
}
.footer input{
    width: 266px;
    height: 40px;
    flex-shrink: 0;
    border:0;
    padding-left: 20px;
}
.footer .sign-form button{
    border:0;
    padding:13px 40px;
    background-color: var(--primary);
    span{
        color:white;
    }
}
.footer .contact h2{
color: #8A8FB9;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .contact p{
color: #8A8FB9;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .row{
    gap:95px;
    align-items: flex-start;
}
.footer .footer-left{
    width: calc((100% -95px) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
}
.footer .footer-right{
    width: calc((100% -95px) / 2);
}
.footer .footer-right a{
    text-decoration: none;
    color: #8A8FB9;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .footer-right h2{
    color: #000;
font-family: "Josefin Sans";
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 45px;
}
.footer .footer-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
/* end footer */
/* start hero */
    .hero .left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .hero span{
        color: var(--Accent, #FB2E86);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    }
    .hero h2{
        color: #000;
        font-family: "Josefin Sans";
        font-size: 53px;
        font-style: normal;
        font-weight: 700;
        line-height: 170.544%; /* 90.388px */
        letter-spacing: 0.795px;
    }
    .hero p{
        color: #8A8FB9;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 175% */
    }
    .hero button{
    border:0;
    padding:13px 40px;
    background-color: var(--primary);
    span{
        color:white;
    }
    }

/* end hero */