/* start public style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary:#FB2E86;
}
ul{
     list-style-type: none ;
}
.container{
    width:100%;
    padding: 0 40px;
    max-width: 1400px;
    margin:0 auto;
}
body{
    height: 6000px;
}
/* end public style*/
.header .container .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .left .logo{
    margin-right:45px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding-top: 35px;
    display:flex;
}
.header .home a{
    text-decoration: none;
    color: var(--primary);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.9s;
}
.header ul{
    padding-top: 9px;
    display: flex;
    gap :35px;
}
.header input{
    width: 266px;
    height: 40px;
    flex-shrink: 0;
    border:0;
}
.header .service a{
    text-decoration: none;
    color:#0D0E43;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.9s;
}
.header form {
    border: 2px solid #E7E6EF;
    display: flex;
}
.header .search-form button{
    border:0;
    padding:8px 13px;
    background-color: var(--primary);
    img{
        display: flex;
    width: 24px;
    height: 24px;
    padding: 1.979px 2.009px 2.024px 1.979px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    }
}
.header{
    position: fixed;
    width: 100%;
}
.header .service a:hover{
    color: aqua;
    font-size: 20px;
}
.header .home a:hover{
    color: purple;
    font-size: 20px;
}