.header .container .left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .container .left .logo{
    margin-right:45px;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 35px 0 ;
    display:flex;
    flex-wrap: wrap;
    background-color: #ffffff;    
}
.header .home a{
    text-decoration: none;
    color: var(--primary);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.9s;
}
.header ul{
    padding-top: 9px;
    display: flex;
    flex-wrap: wrap;
    gap :35px;
}
.header input{
    width: 266px;
    height: 40px;
    flex-shrink: 0;
    border:0;
}
.header .service a{
    text-decoration: none;
    color:#0D0E43;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.9s;
}
.header form {
    border: 2px solid #E7E6EF;
    display: flex;
    flex-wrap: wrap;
}
.header .search-form button{
    border:0;
    padding:8px 13px;
    background-color: var(--primary);
    img{
    display: flex;
    flex-wrap: wrap;
    width: 24px;
    height: 24px;
    padding: 1.979px 2.009px 2.024px 1.979px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    }
}
.header{
    position: sticky;
    width: 100%;
}
.header .service a:hover{
    color: aqua;
    font-size: 20px;
}
.header .home a:hover{
    color: purple;
    font-size: 20px;
}
.menu{
    display: none;
}
/*responsive 1*/
@media screen and (min-width: 0) and (max-width: 480px){
    .list,
    .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .footer .footer-left,.footer .footer-right{
        width: 100%;

    }
    .footer .footer-left .sign-form{
        input{
            width: 60%;   
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            padding: 4px 38px;
        }
    }
    .footer input::placeholder{
    font-size: 13px !important;
    }
    
}
@media screen and (min-width:481px) and (max-width: 768px){
    .list,
    .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .footer .footer-left,.footer .footer-right{
        width: 100%;
    }
}
@media screen and (min-width:769px) and (max-width: 1050px){
    .list,
    .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .footer .footer-left,.footer .footer-right{
        width: 100%;
    }

}
/*responsive 1*/
/*responsive 2*/
@media screen and (min-width: 0) and (max-width: 370px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:4.5px 5px;
    background-color: var(--primary);
    span{
        color:white;
    }
    span{
        font-size: 5px !important;
    }
    display: flex;

    
}
.bgimg .content {
    gap: 1px !important;
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 6vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
}
@media screen and (min-width: 371px) and (max-width: 569px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:4.5px 5px;
    background-color: var(--primary);
    span{
        color:white;
    }
    span{
        font-size: 5px !important;
    }
    display: flex;

    
}
.bgimg .content {
    gap: 1px !important;
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 9vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
}
@media screen and (min-width:570px) and (max-width: 768px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:5px 14px;
    background-color: var(--primary);
    span{
        color:white;
    }
    span{
        font-size: 10px;
    }
}
.bgimg .content {
    gap: 4px !important;
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 13vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

}
@media screen and (min-width:769px) and (max-width: 1050px){

    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:9px 18px;
    background-color: var(--primary);
    span{
        color:white;
    }
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 17vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

}
@media screen and (min-width:1051px) and (max-width: 1600px){
    .bgimg .content p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg .content button{
    border:0;
    padding:10px 20px;
    background-color: var(--primary);
    span{
        color:white;
    }
    
}
.bgimg {
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
}
/*responsive 2*/
/*start products*/
    .products .row{
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    .products h2{
    color: #1A0B5B;
    font-family: "Josefin Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    }
    .products .item-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 5px 0;
        transition: 0.7s;
    }
    .products .item-info h3{
        color: var(--primary);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    .products .item-info .code{
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .products .item-info .price{
        color:#151875;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .products .item-info .buttons{
        display: flex;
        gap: 3px;
    }
    .products .item-info .buttons .btn1 button {
            padding: 1px 5px;
            background-color: #05E6B7;
            border-radius: 10px;
            border: 1px solid #000;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .products .item-info .buttons .btn2 button{
            padding: 1px 5px;
            background-color: #F701A8;
            border-radius: 3px;
            border: 2px;
            border-radius: 10px;
            border: 1px solid #000;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .products .item-info .buttons .btn3 button{
            padding: 1px 5px;
            background-color: #00009D;
            border-radius: 3px;
            border: 2px;
            border-radius: 10px;
            border: 1px solid #000;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .product{
        background: #FFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .product .item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 270px;
        height: 250px;
        position: relative;
    }
    .product .item .item-icons{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 16px;
        position: absolute;
        top: 16px;
        left: 46px;
        opacity: 0;
        transition: 0.7s;
    }
    .product .item button{
        border: 0;
        border-radius: 2px;
        background: #08D15F;
        padding: 8px 13px;
        span{
            color: #FFF;
            font-family: "Josefin Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        position: absolute;
        bottom:9px;
        opacity: 0;
        transition: 0.7s;
    }
    .product:hover .item-info{
        background: #2F1AC4;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.10);
    }
    .product:hover .item .item-icons{
       opacity: 1;
    }
    .product:hover .item button{
       opacity: 1;
    }
    @media screen and (min-width: 0) and (max-width: 427px){
        .products h2{
            font-size: 32px;
        }
    }
/*end products*/
/*start bgimg*/
.bgimg{
    background-image: url(./../image/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bgimg .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.bgimg p{
    color: #151875;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; 
    letter-spacing: 0.525px;
}
.bgimg button{
    border:0;
    padding:13px 40px;
    background-color: var(--primary);
    span{
        color:white;
    }
}
/*end bgimg*/
/* start footer */
.footer{
    padding: 50px 0;
}
.footer form {
    border: 2px solid #E7E6EF;
    display: flex;
    flex-wrap: wrap;
}
.footer input{
    width: 266px;
    height: 40px;
    flex-shrink: 0;
    border:0;
    padding-left: 20px;
}
.footer .sign-form button{
    border:0;
    padding:10px 40px;
    background-color: var(--primary);
    span{
        color:white;
    }
}
.footer .contact h2{
color: #8A8FB9;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .contact p{
color: #8A8FB9;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .row{
    gap:95px;
    align-items: flex-start;
    justify-content: center;
}
.footer .footer-left{
    width: calc((100% -95px) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
}
.footer .footer-right{
    width: calc((100% -95px) / 2);
}
.footer .footer-right a{
    text-decoration: none;
    color: #8A8FB9;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .footer-right h2{
    color: #000;
font-family: "Josefin Sans";
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 45px;
}
.footer .footer-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
.footer input::placeholder{
    color: #8A8FB9;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* end footer */
/* start hero */
    .hero .row{
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .hero .left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .hero span{
        color: var(--Accent, #FB2E86);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    }
    .hero h2{
        color: #000;
        font-family: "Josefin Sans";
        font-size: 53px;
        font-style: normal;
        font-weight: 700;
        line-height: 170.544%; /* 90.388px */
        letter-spacing: 0.795px;
    }
    .hero p{
        color: #8A8FB9;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 175% */
    }
    .hero button{
    border:0;
    padding:13px 40px;
    background-color: var(--primary);
    span{
        color:white;
    }
    }
    @media screen and (min-width: 0) and (max-width: 550px){
        .hero span{
            color: var(--Accent, #FB2E86);
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; 
        }
        .hero h2{
            color: #000;
            font-family: "Josefin Sans";
            font-size: 26.25px;
            font-style: normal;
            font-weight: 700;
            line-height: 170.544%; 
            letter-spacing: 0.795px;
        }
        .hero p{
            color: #8A8FB9;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; 
        }
        .hero button{
        border:0;
        padding:9.75px 30px;
        background-color: var(--primary);
        span{
        color:white;
        }
        }   
        .hero .right img{
            width: 340px;
        }
    }
/* end hero */
/* start leatest products */
    .LeatestProducts{
        padding: 50px;
    }
    .LeatestProducts h2{
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    .LeatestProducts .NewArrival a{
        color: var(--primary);
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration:underline;
    }
    .LeatestProducts .service a{
        color: #151875;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .LeatestProducts  .leatest-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 25px 0;
    }
    .LeatestProducts .row{
        gap:35px;
        width: calc((100%-70px)/3);
        justify-content: center;
        align-items: center;
    }
    .LeatestProducts .row .product  .product-img{
        width: 360px;
        height: 269.959px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .LeatestProducts .row .product  .product-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    }
    .LeatestProducts .row .product  .product-info .product-name{
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .LeatestProducts .row .product  .product-info .product-cost .after-dis{
        color: var(--Text, #151875);
        font-family: "Josefin Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .LeatestProducts .row .product  .product-info .product-cost .before-dis{
        color: #FB2448;
        font-family: "Josefin Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: line-through;
    }
    .LeatestProducts .dis{
        position: absolute;
        top:-5px;
        left: -10px;
    }
    @media screen and (min-width: 0) and (max-width: 500px){
       .LeatestProducts .row .product  .product-img{
        width: 245px;
        height: 134.9795px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        position: relative;
        img{
            width: 130px;
        }
        }
        .LeatestProducts .dis{
            
            width: 50px !important;  
        }
        .LeatestProducts .row .product  .product-info .product-name{
        font-size: 12.8px;
       }
    .LeatestProducts .row .product  .product-info .product-cost .after-dis{
        font-size: 11.2px;
        }
    .LeatestProducts .row .product  .product-info .product-cost .before-dis{
        font-size: 9.6px;
        }
    }
/* end leatest products */
/* start offer */
    .Offer{
        padding: 50px 0;
    }
    .Offer .offer-service{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .Offer h2{
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    .Offer h3{
        color: #151875;
        font-family: "Josefin Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .Offer p{
        color: rgba(26, 11, 91, 0.30);
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 25.6px;
    }
    .Offer .row{
        padding: 50px 0;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
/* end offer */
/* start Trending Products*/
    .TrendingProducts{
        padding: 50px 0;;
    }
    .TrendingProducts .row{
        justify-content: center;
        gap: 80px;
    }
    .TrendingProducts h2{
        text-align: center;
        color: var(--Text, #151875);
        font-family: "Josefin Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 30px 0;
    }
    .TrendingProducts .product-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 248px;
        height: 244px;
    }
    .TrendingProducts .product-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
    }
    .TrendingProducts .product-name{
        color: var(--Text, #151875);
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 25.6px;
    }
    .TrendingProducts .product-cost .after-dis{
        color: var(--Text, #151875);
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .TrendingProducts .product-cost .before-dis{
        color: rgba(21, 24, 117, 0.30);
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: line-through;
    }
    .TrendingProducts .product-cost{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
/* end Trending Products*/
/* start TopCategories */
    .TopCategories{
        padding: 50px 0;
    }
    .TopCategories .row{
        justify-content: center;
        gap: 80px;
    }
    .TopCategories h2{
        color: var(--Text, #151875);
        font-family: "Josefin Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    .TopCategories .product-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 269px;
        height: 345px;
    }
    .TopCategories .product-name{
        color: var(--Text, #151875);
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .TopCategories .product-cost{
        color: var(--Text, #151875);
        font-family: "Josefin Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .TopCategories .product-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:13px;
        padding: 15px 0;
    }
    .TopCategories .product-img {
        position: relative;
    }
    .TopCategories .product button{
        border: 0;
        border-radius: 2px;
        background: #08D15F;
        padding: 8px 13px;
        span{
            color: #FFF;
            font-family: "Josefin Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        position: absolute;
        bottom:9px;
        opacity: 0;
        transition: 0.7s;
    }
    .TopCategories .product:hover button{
       opacity: 1;
    }
/* end TopCategories */
/* start LeatestBlog */
    .LeatestBlog{
        padding: 50px 0;
    }
    .LeatestBlog h2{
        color: var(--Text, #151875);
        font-family: "Josefin Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    .LeatestBlog .row{
        padding: 50px 0;
        justify-content: center;
        align-items: center;
        gap: 55px;
    }
    .LeatestBlog .blog-img1{
        background-image: url(./../image/LeatestBlog/2dcYhvbHV-M.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .LeatestBlog .blog-img2{
        background-image:  url(./../image/LeatestBlog/2dcYhvbHV-M1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .LeatestBlog .blog-img3{
        background-image:  url(./../image/LeatestBlog/JIUjvqe2ZHg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .LeatestBlog .blog-info{
        display: flex;
        padding: 10px 0;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }
    .LeatestBlog .blog-info .aurthor{
        display: flex;
        justify-content: space-between;
        gap:10px;
        align-items: flex-start;
        p{
            color: var(--Text, #151875);
            font-family: "Josefin Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .LeatestBlog .blog-info h3{
        color: var(--Text, #151875);
        font-family: "Josefin Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .LeatestBlog .blog-info p{
        color: #72718F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .LeatestBlog .blog-info a{
        color: var(--Text, #151875);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
    .LeatestBlog .blog:hover h3{
        color: var(--primary);
    }
    .LeatestBlog .blog:hover a{
        color: var(--primary);
    }
/* end LeatestBlog */
